.search-bar {
    box-shadow: 1px 1px 5px #212A3E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 2rem 25%;
    width: 48%;
    height: 3.5rem;
    background-color: white;
    border-radius: 5rem;
}

